@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
}

.create-event-form label {
    font-size: 16px;
    font-weight: 500;
    color: #f1e4e4;
}

.create-event-form input[type="text"] {
    width: 100%;
    margin-top: 12px;
    border-radius: 2px;
    padding: 8px 12px;
    background-color: #d9d9d9;
    border: 1px #c4c4c4 solid;
    color: black;
}

.sidebarLinks li .active {
    color: white;
}

.sidebarLinks li a {
    transition: all 0.3s ease-in-out;
}

.sidebarLinks li a:hover {
    background-color: #fff;
}
